<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="cn.hncu.domain.Student">
	<select id="all" resultType="cn.hncu.domain.Student">
		select * from student
	</select>
	
	<insert id="insert" parameterType="cn.hncu.domain.Student"
			keyProperty="id" useGeneratedKeys="true">
		insert into
		student( name )
		values( #{name} )
	</insert>
	
</mapper>